/******* Styling base containers ********/
/* Body, HTML */
body, html {
    height:100%;
}

/* Main section */
#content {
    height:100%;
    width: 100%;
}

/******* Styling map-relative elements ********/
#map {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

#search-block {
    position:absolute;
    top:65px;
    left:15px;
    width:500px;
    background-color:rgba(255, 255, 255, 0.5);
    display:block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding:5px;
}

#search-block:hover {
    background-color:rgba(255, 255, 255, 0.7);
}

#direction-panel {
    position:absolute;
    bottom:15px;
    right:15px;
    color:white;
    background-color:#5800a1;
    padding:10px;
    display:none;
}

.map-search-input {
    margin-bottom:5px;
}

.map-search-icon {
    height:20px;
}


/******* Styling buttons ********/
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn.sharp {
  border-radius:0;
}

.btn.purple {
    background-color:#5800a1;
    color:white;
}

.btn.purple:hover {
    background-color:#480085;
}


/****** Styling slider *******/
#radius-slider .slider-selection {
	background: #BABABA;
}

#radius-slider {
	width: 200px;
    left:20px;
}

#radius-slider .slider-handle {
    background-color:#5800a1;
    background-image:none;

}

#search-block .inline-block {
    width:240px;
    vertical-align: middle;
    display:inline-block;
}
